# Virtual Environment
env/
essentia_env/
venv/
temp/

# Specific files to ignore
lab/essentia/models/run.py
packages/api/audafact_api/services/experiment.py
packages/api/audafact_api/.env
.env.txt
genre_analysis.log
.env
.venv
.essentia_env
*.log


# Audio files
*.m4a
*.mp3
*.wav
*.aif
*.aiff
*.flac
*.ogg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Experiments
lab/
node_modules/
**/node_modules/
packages/web/node_modules/
