# Virtual Environment
env/
essential_env/

# Specific files to ignore
lab/essentia/models/run.py
.env.txt
genre_analysis.log

# Audio files
*.m4a
*.mp3
*.wav
*.aif
*.aiff
*.flac
*.ogg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo