run = "ENV=development uvicorn packages.api.audafact_api.api.app:app --host 0.0.0.0 --port ${PORT:-8000}"
modules = ["python-3.8"]

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "ENV=production uvicorn packages.api.audafact_api.api.app:app --host 0.0.0.0 --port ${PORT:-8000}",
]
build = ["sh", "-c", "pip install -r packages/api/requirements.txt"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
